## Pandas Tutorial

Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

Topics

- What is Data Frames?
- What is Data Series?
- Different operation in Pandas

In [1]:
# Import libraries

In [2]:
import numpy as np
import pandas as pd

In [3]:
df  = pd.DataFrame(np.arange(0,20).reshape(5,4), index=['r1','r2','r3','r4','r5'],columns=['c1','c2','c3','c4'])

In [4]:
df

    c1  c2  c3  c4
r1   0   1   2   3
r2   4   5   6   7
r3   8   9  10  11
r4  12  13  14  15
r5  16  17  18  19

In [5]:
df.to_csv('test.csv')

##### accessing the element

- .loc
- .iloc

In [6]:
df.loc['r1']

c1    0
c2    1
c3    2
c4    3
Name: r1, dtype: int32

In [7]:
type(df.loc['r1'])

pandas.core.series.Series

In [8]:
df.iloc[:,:] #left side for rows and right side for columns

    c1  c2  c3  c4
r1   0   1   2   3
r2   4   5   6   7
r3   8   9  10  11
r4  12  13  14  15
r5  16  17  18  19

In [9]:
# we just want first two rows

In [10]:
df.iloc[0:2,:]

    c1  c2  c3  c4
r1   0   1   2   3
r2   4   5   6   7

In [11]:
# we just want first two rows and 3 columns

In [12]:
df.iloc[0:2,0:3]

    c1  c2  c3
r1   0   1   2
r2   4   5   6

In [13]:
type(df.iloc[0:2,0:3])

pandas.core.frame.DataFrame

In [14]:
df.iloc[0:2,0]

r1    0
r2    4
Name: c1, dtype: int32

In [15]:
type(df.iloc[0:2,0])

pandas.core.series.Series

In [16]:
## take the element from the column

In [17]:
df.iloc[:,1:]

    c2  c3  c4
r1   1   2   3
r2   5   6   7
r3   9  10  11
r4  13  14  15
r5  17  18  19

In [18]:
# converting dataframe into arrays

In [19]:
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [20]:
df.iloc[:,1:].values.shape

(5, 3)

In [21]:
# how to check null elements

In [22]:
df.isnull()

       c1     c2     c3     c4
r1  False  False  False  False
r2  False  False  False  False
r3  False  False  False  False
r4  False  False  False  False
r5  False  False  False  False

In [23]:
df.isnull().sum()

c1    0
c2    0
c3    0
c4    0
dtype: int64

In [24]:
# to know how many time a particular value is present in column

In [25]:
df['c2'].value_counts()

13    1
5     1
17    1
9     1
1     1
Name: c2, dtype: int64

In [26]:
# to know unique values

In [27]:
df['c2'].unique()

array([ 1,  5,  9, 13, 17], dtype=int64)

In [28]:
df['c1']

r1     0
r2     4
r3     8
r4    12
r5    16
Name: c1, dtype: int32

In [29]:
df['c2']

r1     1
r2     5
r3     9
r4    13
r5    17
Name: c2, dtype: int32

In [30]:
# if we want to print multiple column

In [31]:
df['c1','c2']

KeyError: ('c1', 'c2')

In [32]:
#we have to provide column as list

In [33]:
df[['c1','c2']]

    c1  c2
r1   0   1
r2   4   5
r3   8   9
r4  12  13
r5  16  17

In [34]:
# reading data through CSV

In [35]:
# If aur data is not seperated wih , and with something else then we can provide the seperator in read_csv bracket

In [36]:
# ex df = pd.read_csv('data.csv', sep=':')

In [37]:
df = pd.read_csv('mercedesbenz.csv')

In [38]:
# let's say we want to see top 5 recoeds

In [39]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [41]:
df.describe() # it will consider only int and float column not an obj column

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [42]:
# if we want o know how many values are present in column and what is the occurenec of that value

In [43]:
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
ai     34
m      34
e      32
ba     27
at     25
a      21
ax     19
am     18
aq     18
i      18
u      17
l      16
aw     16
ad     14
k      11
b      11
au     11
as     10
r      10
bc      6
ao      4
c       3
q       2
aa      2
g       1
ac      1
ab      1
Name: X0, dtype: int64

In [44]:
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
ai     34
m      34
e      32
ba     27
at     25
a      21
ax     19
am     18
aq     18
i      18
u      17
l      16
aw     16
ad     14
k      11
b      11
au     11
as     10
r      10
bc      6
ao      4
c       3
q       2
aa      2
g       1
ac      1
ab      1
Name: X0, dtype: int64

In [45]:
# z is present 360 times 
# ak is presnet 349 times ans so on

In [46]:
df[df['y']>100]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [47]:
df.corr()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
ID,1.000000,-0.055108,0.001602,NaN,0.058988,-0.031917,-0.025438,0.002237,-0.036480,-0.038171,...,0.045229,-0.080259,-0.022965,0.030371,0.023382,-0.013577,-0.038171,-0.009332,-0.015355,0.029059
y,-0.055108,1.000000,-0.026985,NaN,0.089792,0.048276,0.193643,0.023116,0.048946,-0.159815,...,0.029100,0.114005,0.061403,-0.258679,0.067919,0.040932,-0.159815,0.040291,-0.004591,-0.022280
X10,0.001602,-0.026985,1.000000,NaN,-0.033084,-0.028806,-0.100474,-0.002532,-0.005944,-0.010164,...,0.165277,-0.028618,-0.074244,-0.016870,-0.011374,-0.010479,-0.010164,-0.004740,-0.002532,-0.004387
X11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X12,0.058988,0.089792,-0.033084,NaN,1.000000,0.214825,-0.246513,-0.006212,-0.014584,-0.024937,...,-0.107864,-0.070214,0.030134,-0.016043,-0.027907,-0.005566,-0.024937,-0.011628,-0.006212,-0.010765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X380,-0.013577,0.040932,-0.010479,NaN,-0.005566,0.023045,0.007743,-0.001968,-0.004619,-0.007899,...,-0.061741,-0.022240,-0.061168,-0.013110,-0.008839,1.000000,-0.007899,-0.003683,-0.001968,-0.003410
X382,-0.038171,-0.159815,-0.010164,NaN,-0.024937,-0.021713,0.012713,-0.001908,-0.004480,1.000000,...,-0.059883,-0.021571,-0.059327,-0.012716,-0.008573,-0.007899,1.000000,-0.003572,-0.001908,-0.003307
X383,-0.009332,0.040291,-0.004740,NaN,-0.011628,-0.010125,0.023604,-0.000890,-0.002089,-0.003572,...,-0.015413,-0.010059,0.035107,-0.005930,-0.003998,-0.003683,-0.003572,1.000000,-0.000890,-0.001542
X384,-0.015355,-0.004591,-0.002532,NaN,-0.006212,0.041242,0.025199,-0.000475,-0.001116,-0.001908,...,-0.014917,-0.005373,0.008694,-0.003168,-0.002136,-0.001968,-0.001908,-0.000890,1.000000,-0.000824
X385,0.029059,-0.022280,-0.004387,NaN,-0.010765,-0.009373,0.043667,-0.000824,-0.001934,-0.003307,...,0.055225,-0.009311,-0.025610,-0.005489,-0.003701,-0.003410,-0.003307,-0.001542,-0.000824,1.000000

In [48]:
df['X11'].value_counts()

0    4209
Name: X11, dtype: int64

In [49]:
import numpy as np

In [50]:
lst_data=[[1,2,3],[3,4,np.nan],[5,6,np.nan],[np.nan,np.nan,np.nan]]

In [51]:
df=pd.DataFrame(lst_data)

In [52]:
df.head()

     0    1    2
0  1.0  2.0  3.0
1  3.0  4.0  NaN
2  5.0  6.0  NaN
3  NaN  NaN  NaN

In [53]:
## HAndling Missing Values

##Drop nan values

df.dropna(axis=0)

     0    1    2
0  1.0  2.0  3.0

In [54]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [55]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                     columns=['one', 'two', 'three'])

In [56]:
df.head()

        one       two     three
a  0.804651  0.114379  1.139275
c  1.312106  1.551476  0.562689
e -0.912431  0.025107  0.728068
f -0.214299  0.222564  1.019934
h -0.151332  0.076272 -0.401153

In [57]:
df2=df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [58]:
df2

        one       two     three
a  0.804651  0.114379  1.139275
b       NaN       NaN       NaN
c  1.312106  1.551476  0.562689
d       NaN       NaN       NaN
e -0.912431  0.025107  0.728068
f -0.214299  0.222564  1.019934
g       NaN       NaN       NaN
h -0.151332  0.076272 -0.401153

In [59]:
df2.dropna(axis=0)

        one       two     three
a  0.804651  0.114379  1.139275
c  1.312106  1.551476  0.562689
e -0.912431  0.025107  0.728068
f -0.214299  0.222564  1.019934
h -0.151332  0.076272 -0.401153

In [60]:
pd.isna(df2['one'])

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [61]:
df2['one'].notna()

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

In [62]:
df2.fillna('Missing')

        one        two     three
a  0.804651   0.114379   1.13928
b   Missing    Missing   Missing
c   1.31211    1.55148  0.562689
d   Missing    Missing   Missing
e -0.912431  0.0251069  0.728068
f -0.214299   0.222564   1.01993
g   Missing    Missing   Missing
h -0.151332  0.0762723 -0.401153

In [63]:
df2['one'].values

array([ 0.80465148,         nan,  1.31210649,         nan, -0.91243077,
       -0.21429924,         nan, -0.15133228])

## CSV

In [ ]:
from io import StringIO, BytesIO

In [ ]:
data = ('col1,col2,col3\n'
        'x,y,1\n'
        'a,b,2\n'
        'c,d,3\n')

In [ ]:
type(data)

In [ ]:
# we can convert above text data into csv format

In [ ]:
pd.read_csv(StringIO(data))

In [ ]:
# Read Only specific columns

In [ ]:
df1 =pd.read_csv(StringIO(data),usecols=['col2','col3'] )

In [ ]:
df1

In [ ]:
df1.to_csv('Test1_csv')

In [ ]:
# Specifynin column datatype

In [ ]:
d = ('a,b,c,d\n'
     
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11\n')

In [ ]:
d

In [ ]:
d1 =pd.read_csv(StringIO(d),dtype=object)

In [ ]:
d1

In [ ]:
d1['a']

In [ ]:
d1['a'][1]

In [ ]:
d1 =pd.read_csv(StringIO(d),dtype=int)

In [ ]:
# it isthrowing an error because there is nan value which can  not be converted into integer

In [ ]:
d = ('a,b,c,d\n'
     
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11, 12\n')

In [ ]:
d1 =pd.read_csv(StringIO(d),dtype=int)

In [ ]:
d1

In [ ]:
d1['a']

In [ ]:
d1 =pd.read_csv(StringIO(d),dtype=float)

In [ ]:
d1

In [ ]:
d1['a']

In [ ]:
d1 =pd.read_csv(StringIO(d),dtype={'b':'int64', 'c':float, 'd':int})

In [ ]:
d1

In [ ]:
d1[['b','c','d']]

In [ ]:
df.dtypes

In [ ]:
d1.dtypes

In [ ]:
# index columns and training delimeteers

In [ ]:
data = ('index,a,b,c\n'
           '4,apple,bat,5.7\n'
            '8,orange,cow,10')

In [ ]:
pd.read_csv(StringIO(data))

In [ ]:
# here we have default index which is 0 nd 1

In [ ]:
# let's say we want first column  as our index

In [ ]:
# we can do this by providing index-cols value

In [ ]:
pd.read_csv(StringIO(data), index_col=0)

In [ ]:
pd.read_csv(StringIO(data), index_col=1)

In [ ]:
pd.read_csv(StringIO(data), index_col=2)

In [ ]:
data = ('a,b,c\n'
           '4,apple,bat,\n'
            '8,orange,cow,')

In [ ]:
pd.read_csv(StringIO(data))

In [ ]:
# here it's defeault datatype is none hence it is follwing defalult manner and creating a dataframe

In [ ]:
# it is taking 4, 8 as a index which is our data it should not do this

In [ ]:
# to solve this problem we can fix our index_col=false

In [ ]:
pd.read_csv(StringIO(data),index_col=False)

In [ ]:
# Combining usecols and indexcols

In [ ]:
data = ('a,b,c\n'
           '4,apple,bat,\n'
            '8,orange,cow,')

In [ ]:
pd.read_csv(StringIO(data), usecols=['b', 'c'],index_col=False)

In [ ]:
## Quoting and Escape Characters¶. Very useful in NLP

data = 'a,b\n"hello, \\"Bob\\", nice to see you",5'

In [ ]:
pd.read_csv(StringIO(data),escapechar='\\')

In [ ]:
## URL to CSV

df=pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',
                 sep='\t')

In [ ]:
df

In [ ]:
## Read Json to CSV
d = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
pd.read_json(d)

In [ ]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)

In [ ]:
df.head()

In [ ]:
# convert Json to csv

In [ ]:
df.to_csv('new.csv')

In [ ]:
# convert Json to different json formats

df.to_json(orient="index")

In [ ]:
d = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
df = pd.read_json(d)

In [ ]:
df.to_json()

In [ ]:
df.to_json(orient="index")

## reading Html content

In [ ]:
url_mcc = 'https://en.wikipedia.org/wiki/Mobile_country_code'
dfs = pd.read_html(url_mcc, match='Country', header=0)

In [ ]:
dfs

In [ ]:
dfs[0]

## Reading EXcel Files

In [ ]:
df_excel=pd.read_excel('Excel_Sample.xlsx')

In [ ]:
df_excel.head()

## Pickling
All pandas objects are equipped with to_pickle methods which use Python’s cPickle module to save data structures to disk using the pickle format.

In [ ]:
df_excel.to_pickle('df_excel')

In [ ]:
df=pd.read_pickle('df_excel')

In [ ]:
df.head()