# map function

The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

Syntax:

map(function, iterables)

In [1]:
# let's create a normal function

In [2]:
def even_or_odd(n):
    if n%2==0:
        return True
    else:
        return False

In [3]:
even_or_odd(45)

False

In [4]:
def even_or_odd(n):
    if n%2==0:
        return 'the {} is even'.format(n)
    else:
        return 'the {} is odd'.format(n)

In [5]:
even_or_odd(13)

'the 13 is odd'

In [6]:
# let's consider we have to apply this function to multiple number at a time

In [7]:
# we can solve this problem using map function

In [8]:
lit = [1,2,3,4,5,6,7,8,9]

In [9]:
map(even_or_odd,lit)

In [10]:
m = map(even_or_odd,lit)

In [11]:
m

In [12]:
list(map(even_or_odd,lit))

['the 1 is odd',
 'the 2 is even',
 'the 3 is odd',
 'the 4 is even',
 'the 5 is odd',
 'the 6 is even',
 'the 7 is odd',
 'the 8 is even',
 'the 9 is odd']

In [15]:
def myfunc(a, b):
  return a + b

In [16]:
x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))

In [17]:
list(map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple')))

['appleorange', 'bananalemon', 'cherrypineapple']