## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
bool()

False

In [2]:
# above it printed false because it did't get anything
# if we give 0 or empty to bool it will print false otherwise it will print false

In [3]:
bool(1)

True

In [4]:
bool(0)

False

In [5]:
bool(-1)

True

In [6]:
print(True,False)

True False

In [7]:
type(True)

bool

In [8]:
type(False)

bool

In [9]:
type(0)

int

In [10]:
str = 'mayank dubey'

In [15]:
print(str.isalnum())       # Check if all char are numbers 
print(str.isalpha())       #  Check if all char are alphabets
print(str.isdigit())       # Check if string contain digits or not
print(str.istitle())       # Check if string contain title words
print(str.isupper())       # Check if string contain upper case
print(str.islower())       # Check if string contain lower case
print(str.isspace())       # Check if string contain spaces
print(str.endswith('m'))   # check if strings ends with m
print(str.endswith('y'))   # check if strings ends with y
print(str.startswith('m')) # check if strings starts with m
print(str.startswith('y')) # check if strings starts with y

False
False
False
False
False
True
False
False
True
True
False

## Boolean and loical Operator

In [16]:
True and False

False

In [18]:
False and False

False

In [19]:
True and True

True

In [20]:
True or False

True

In [21]:
True or True

True

In [22]:
s1 = 'Hello world'
s2 = 'mayank'

In [24]:
s1.isalpha() or s2.isalnum()

True

In [25]:
s1.isalpha() & s2.isalnum()

False

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [26]:
type([])

list

In [27]:
lst = []

In [28]:
type(lst)

list

In [29]:
lst = list()

In [30]:
type(lst)

list

In [31]:
lst = ['maths','chemistry', 5,3,6,100]

In [32]:
type(lst)

list

## Append

In [33]:
# .append is used to add the element in the list

In [35]:
lst.append('mayank')

In [36]:
lst

['maths', 'chemistry', 5, 3, 6, 100, 'mayank']

In [37]:
len(lst)

7

In [38]:
# . append function add the element at the end of the list

In [39]:
# If we want to add an elemnt at particular poistion then we should use Insert

## insert

In [40]:
# it is used to insert a element in a specific order

In [41]:
lst.insert(2,'yash')

In [42]:
lst

['maths', 'chemistry', 'yash', 5, 3, 6, 100, 'mayank']

In [43]:
lst[2]

'yash'

In [44]:
lst.append(['vishal', 'dubey'])

In [45]:
lst

['maths', 'chemistry', 'yash', 5, 3, 6, 100, 'mayank', ['vishal', 'dubey']]

In [47]:
## .append function can add only one element at a time
## if we wwant to add multiple element at a time then we should use .extend method

In [48]:
lst =[1,2,3,4,5,6]

In [51]:
lst.extend([7,8])

In [52]:
lst

[1, 2, 3, 4, 5, 6, 7.8, 7, 8]

### Operations on list

In [53]:
l = [1,2,3,4,5,6]

**sum()**

In [54]:
# it add all the elemnt present in the list

In [56]:
sum(l)

21

**Pop()**

In [58]:
# pop will remove the element from particular index
# if we don't provide any index then it will remove from last index

In [60]:
l.pop()

6

In [61]:
l

[1, 2, 3, 4, 5]

In [62]:
l.pop(0)

1

In [63]:
l

[2, 3, 4, 5]

**Count()**

In [64]:
# It count total occurence of the element

In [66]:
l = [1,2,3,3,4,43,2,22,3]

In [67]:
l.count(2)

2

**Len()**

In [69]:
# it calculate total lenghth of the lis

In [70]:
len(l)

9

**index()**

In [72]:
# it returns the index of first occurence

In [73]:
# start and end index are not necessary parameter

In [74]:
lst.index(2)

1

In [78]:
lst.index(3,0,8)

2

In [79]:
# min and max

In [82]:
min(lst)

1

In [83]:
max(lst)

8

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [84]:
# defining an empty set

In [85]:
s = set()

In [87]:
print(s)

set()

In [88]:
type(s)

set

In [90]:
s = {1,2,3,4,5,5,5}

In [91]:
print(s)

{1, 2, 3, 4, 5}

In [92]:
# here it printed 5 only one time that means it don't allow duplicate elemnts

In [93]:
s = {'Nagraj','doga', 'Kobi'}

In [94]:
print(s)

{'Kobi', 'Nagraj', 'doga'}

In [95]:
print(type(s))

<class 'set'>

In [96]:
s = {'Nagraj','doga', 'Kobi',5}

In [97]:
print(s)

{'Kobi', 5, 'Nagraj', 'doga'}

In [98]:
# as we can see that it can contain heterogenous element

In [99]:
# Indexing
s[2]

TypeError: 'set' object is not subscriptable

In [100]:
# set does not support indexing

In [101]:
# Inbuilt function in set

In [102]:
s.add('dhruva')

In [103]:
s

{5, 'Kobi', 'Nagraj', 'dhruva', 'doga'}

In [104]:
s1 = {'Nagraj','doga', 'Kobi'}

In [105]:
s2 = {'Nagraj','doga', 'Kobi','DhruvA'}

In [107]:
s2.difference(s1) ## it means it will remove all the elemnts which are present in s1

{'DhruvA'}

In [108]:
s2

{'DhruvA', 'Kobi', 'Nagraj', 'doga'}

In [109]:
# if we want to update our s2 with difference

In [110]:
s2.difference_update(s1)

In [111]:
s2

{'DhruvA'}

In [112]:
s2.intersection(s1)#

set()

In [113]:
# there is no common elemnt hence it printed empty

In [114]:
s1 = {'Nagraj','doga', 'Kobi'}

In [115]:
s2 = {'Nagraj','doga', 'Kobi','DhruvA'}

In [117]:
s2.intersection(s1)

{'Kobi', 'Nagraj', 'doga'}

In [118]:
# if we want to fix this value in s2

In [119]:
s2.intersection_update(s1)

In [120]:
s2

{'Kobi', 'Nagraj', 'doga'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [121]:
dict = {}

In [122]:
type(dict)

dict

In [123]:
dict = {1,2,3,4,5}

In [124]:
type(dict)

set

In [125]:
# to create dictionary we have to provide the value in key:value pair

In [126]:
# let's create a dictionary

In [127]:
a = {'p1':'python', 'p2':'java', 'p3':'c'}

In [128]:
a

{'p1': 'python', 'p2': 'java', 'p3': 'c'}

In [129]:
type(a)

dict

In [130]:
# access the item valye based on key

In [131]:
a['p1']

'python'

In [132]:
a['p2']

'java'

In [134]:
# we can loop through the dictionaries keys

for x in a:
    print(x)

p1
p2
p3

In [135]:
# we can loop through the dictionaries values

for x in a.values():
    print(x)

python
java
c

In [136]:
# we can also check both keys and values

for x in a.items():
    print(x)

('p1', 'python')
('p2', 'java')
('p3', 'c')

In [137]:
## we can also update the dictonaries

In [138]:
a['p4'] = 'C++'

In [139]:
a

{'p1': 'python', 'p2': 'java', 'p3': 'c', 'p4': 'C++'}

## Nested dictonaries

In [140]:
p1 = {'python':1991}
p2 = {'Java':1995}
p3 = {'C':168}

In [141]:
p_type = {'pr1':p1, 'pr2':p2, 'pr3':p3}

In [142]:
type(p_type)

dict

In [143]:
print(p_type)

{'pr1': {'python': 1991}, 'pr2': {'Java': 1995}, 'pr3': {'C': 168}}

In [144]:
## acessing the items in the dictionaries

In [146]:
print(p_type['pr2'])

{'Java': 1995}

In [147]:
print(p_type['pr2']['Java'])

1995

## Tuples

In [148]:
## it is same as list , the only thing is it is not mutable

In [149]:
a =tuple()

In [150]:
type(a)

tuple

In [151]:
a = ('mayank','yash', 's')

In [152]:
a

('mayank', 'yash', 's')

In [154]:
print(type(a))
print(a)

<class 'tuple'>
('mayank', 'yash', 's')

In [155]:
a[1]

'yash'

In [156]:
a[1]= 'v'

TypeError: 'tuple' object does not support item assignment

In [157]:
a.count('mayank')

1

In [158]:
a.index('mayank')

0